# https://argocd-applicationset.readthedocs.io/en/stable/
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: as-cluster-addons
spec:
  generators:
  - git:
      repoURL: https://github.com/jeevanions/app-collection.git
      revision: main
      directories:
      - path: apps/*
  - git:
      repoURL: https://github.com/jeevanions/third-app.git
      revision: main
      directories:
      - path: apps/*
      
  template:
    metadata:
      name: '{{path.basename}}'
    spec:
      project: default
      source:
        repoURL: '{{repoURL}}'
        targetRevision: main
        path: '{{path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path.basename}}'